* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: black;
    font-weight: 900;
    font-size: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: grey;
    border: 6px grey solid;
    border-radius: 8px;
    margin: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

input {
    text-align: center;
}



