* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: black;
    font-weight: 900;
    font-size: 64px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.game-controls {
    background-color: grey;
    border: 6px grey solid;
    border-radius: 8px;
    margin: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.game-status {
    background-color: beige;
    border: 6px grey sold;
    border-radius: 8px;
    color: black;
    padding: 8px;
    text-align: center;
}

button {
    background-color: black;
    color: palegoldenrod;
    padding: 4rem;
    margin: 1rem;
    border-radius: 14px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
}

.status {
    color: aliceblue;
    background-color: black;
    border-radius: 14px;
}

h1 {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: 7vw;
}
